[Unit]
Description=Purge Steam shader cache

[Service]
Type=oneshot
ExecStart=%h/.local/bin/purge-steam-shadercache
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=%h/.local/share/Steam/steamapps/shadercache
UMask=0077
